@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: Lato;
  src: url(../fonts/Font-lato/Lato-Medium_0.ttf);
}

/* main */
* {
    font-family: Lato;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    outline: none;
}
body {
    position: relative;
}

/* top-bar */
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #DA291C;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background: #ffffff;
  padding: 0 50px;
}
.navbar .logo {
  height: 50px;
}
.sidebar-logo-box {
  height: 40px;
}
.sidebar-logo-box img:last-child {
  margin-left: 5px;
}
.navbar .logo img, .sidebar-logo-box img {
  height: 100%;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
  padding-left: 0;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
  background: #ffffff;
  transition: all 0.3s ease-in-out;
}
nav .navbar .links li:hover {
  background: rgb(223, 223, 223, 0.3);
}
nav .navbar .links li:hover > a {
  color: #DA291C;
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #222221;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
nav .navbar .links li:hover > a {
  color: #DA291C;
}
.links li:hover .introduce-arrow,
.links li:hover .job-arrow,
.links li:hover .guide-arrow,
.links li:hover .teacher-arrow
 {
  transform: rotate(180deg);
}
nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #222221;
  transition: all 0.3s ease;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
nav .navbar .links li:hover > .arrow {
  color: #DA291C;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 70px;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
  padding-left: 0;
}
nav .navbar .links li:hover .introduce-sub-menu,
nav .navbar .links li:hover .job-sub-menu,
nav .navbar .links li:hover .guide-sub-menu,
nav .navbar .links li:hover .teacher-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 14px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  height: 70px;
  line-height: 70px;
}
.navbar .links li .sub-menu > a {
  color: #222221;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.navbar .links li .sub-menu > a:hover {
  color: #DA291C;
}
.more span {
  display: contents;
}
.navbar .links li .introduce-sub-menu .more .more-arrow,
.navbar .links li .introduce-sub-menu .more a {
  line-height: 70px;
  transition: all 0.3s ease-in-out;
}
.navbar .links li .introduce-sub-menu > .more:hover .more-arrow,
.navbar .links li .introduce-sub-menu > .more:hover .more-li {
  color: #DA291C;
}
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
  background: #DA291C;
  border-radius: 50px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #3E8DA8;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #DA291C;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #DA291C;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}

/* header */
.header {
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url('../images/background-main.JPG');
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  object-fit: contain;
}
.header h1 {
  font-family: 'Oswald', sans-serif;
  margin-left: auto;
  margin-right: auto;
  line-height: 3.5rem;
}
.header-title, .social-media {
  padding-top: 80px;
}
.social-media {
  top: 0;
  right: 0;
  margin-right: 40px;
}
.social-media a {
  width: 50px;
  text-align: center;
}
.social-media a:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 10px;
}
.social-media a i {
  font-size: 30px;
  color: #fff;
  transition: all 0.3s;
  transform: scale(1);
}
.social-media a:nth-child(2) i {
  font-size: 25px;
}
.social-media a:hover i {
  color: #DA291C;
  transform: scale(1.1);
}
.main-content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* main-content */
.main-content h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
  margin-top: 50px;
  text-align: center;
  color: #222221;
}
.main-content p {
  font-size: 18px;
  margin-bottom: 0;
  color: #222221;
  margin-bottom: 40px;
}
.main-banner img {
  width: 100%;
  margin-bottom: 40px;
}
.main-content-details {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
.main-content-details h5 {
  font-weight: bold;
  margin-bottom: 0;
  color: #222221;
  font-size: 18px;
}
.main-content-details p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #222221;
}

/* about-us */
footer {
  width: 100%;
  background: #DA291C;
  padding-top: 30px;
  margin-top: 30px;
}
.about-us {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.col-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.col-content {
  margin-top: 10px;
  font-size: 15px;
  color: #FFFFFF;
  padding-bottom: 30px;
}
.col-content i {
  width: 15px;
  margin-right: 5px;
}

/* bottom-bar */
.bottom-bar {
  width: 100%;
  height: 50px;
  background: #DF6258;
  bottom: 0;
}
.bottom-bar-content {
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}
.bottom-bar-content p {
  color: #ffffff;
  margin: 0;
}
.slide-btn-box {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.slide-btn {
  width: 100px;
  height: 14px;
  background: #D1CCBD;
}
.about-us-col:nth-child(2), .about-us-col:last-child {
  padding-left: 45px;
}

@media only screen and (max-width: 1024px) {
  /* 1024 header start */
  nav .navbar {
    padding: 0 15px;
  }
  .navbar .logo {
    height: 35px;
  }
  .navbar .logo img:last-child {
    margin-left: 6px;
  }
  nav .navbar .links li a {
    font-size: 13px;
  }
  nav .navbar .links li {
    padding: 0 6px;
  }
  .navbar .search-box {
    height: 35px;
    width: 35px;
  }
  .navbar .search-box i {
    line-height: 35px;
    font-size: 16px;
  }
  .header h1 {
    font-size: 30px;
    line-height: 45px;
  }
  /* 1024 header end */

  /* 1024 footer start */
  .col-title {
    font-size: 16px;
    line-height: 30px;
  }
  .about-us-col:nth-child(2), .about-us-col:last-child {
    padding-left: 35px;
  }
  .col-content {
    font-size: 12px;
    margin-top: 0;
  }
  .col-content > .col-title {
    margin-bottom: 0 !important;
  }
  .col-content p {
    margin-bottom: 8px;
  }
  .col-content i {
    margin-right: 0px;
  }
  .bottom-bar-content p {
    font-size: 15px;
  }
  /* 1024 footer end */
}
@media only screen and (max-width:920px) {
  /* 920 header start */
  nav .navbar{
    max-width: 100%;
    padding: 0 12px;
  }
  .navbar .logo img:last-child {
    margin-left: 3px;
  }
  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 5px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 12px;
  }
  nav .navbar .links li .arrow {
    width: 18px;
  }
  .navbar .search-box {
    height: 30px;
    width: 30px;
  }
  nav .navbar .links li .arrow {
    width: 13px;
    font-size: 12px;
  }
  .navbar .search-box i {
    line-height: 30px;
    font-size: 13px;
  }
  .social-media {
    margin-right: 15px;
  }
  /* 920 header end */
  .main-content h2 {
    font-size: 28px;
    margin-bottom: 22px;
    margin-top: 40px;
  }
  .main-content p {
    font-size: 16px;
  }
  .main-content-details h5 {
    font-size: 16px;
  }
  .main-content-details p {
    font-size: 16px;
  }
  /* footer 920 start */
  .about-us-col:nth-child(2), .about-us-col:last-child {
    padding-left: 30px;
  }
  .col-title {
    font-size: 15px;
  }
  .col-content {
    font-size: 11px;
  }
  /* footer 920 end */
}
@media only screen and (max-width:820px) {
  /* 820 header start */
  ::-webkit-scrollbar {
    width: 0px;
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 505px;
    width: 100%;
    background:  #ffffff;
    line-height: 40px;
    padding: 0 0 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
    overflow: scroll;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-left: 30px;
    background: rgba(201, 201, 201, 0.3);
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
    cursor: default;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #DA291C;
    cursor: pointer;
  }
  .sidebar-logo i {
    padding-right: 30px;
  }
  nav .navbar .links{
    display: block;
    margin-top: 0;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
  nav .navbar .links li{
      display: block;
      line-height: 70px;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .introduce-arrow,
  .links li:hover .job-arrow{
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    display: flex;
    align-items: center;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .introduce-sub-menu,
  nav .navbar .links li:hover .job-sub-menu,
  nav .navbar .links li:hover .guide-sub-menu,
  nav .navbar .links li:hover .teacher-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .introduce-sub-menu,
  .navbar .nav-links.show3 .links .job-sub-menu,
  .navbar .nav-links.show4 .links .guide-sub-menu,
  .navbar .nav-links.show5 .links .teacher-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .introduce-arrow,
  .navbar .nav-links.show3 .links .job-arrow,
  .navbar .nav-links.show4 .links .guide-arrow,
  .navbar .nav-links.show5 .links .teacher-arrow {
      transform: rotate(180deg);
      cursor: pointer;
  }
  .navbar .nav-links.show2 .links .more-arrow{
    transform: rotate(90deg);
  }
  .header h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .social-media {
    margin-right: 20px;
  }
  /* 820 header end */

  /* 820 footer start */
  footer {
    margin-top: 15px;
  }
  .about-us {
    flex-wrap: wrap;
  }
  .about-us-col {
    width: 100%;
    text-align: center;
  }
  .col-title {
    font-size: 20px;
    font-weight: bold;
  }
  .col-content {
    font-size: 15px;
  }
  .col-content p {
    margin-bottom: 0;
  }
  .about-us-col:nth-child(2), .about-us-col:last-child {
    padding-left: 0;
  }
  .story-content p {
    font-size: 12px;
  }
  .video-introduce {
    height: 385px;
  }
  .carousel-item img {
    height: 415px;
  } 
  .carousel-control-prev {
    margin-left: 32px;
  }
  .carousel-control-next {
    margin-left: 20px;
  }
  .carousel-control-next, .carousel-control-prev {
    bottom: 32px !important;
  }
  .numbertext {
    margin-top: -62px;
    margin-left: 70px;
    width: 50px;
    font-size: 15px;
  }
  .active-image img {
    height: 130px;
  }
  .active-image h3 {
    font-size: 15px;
  }
  /* 820 footer end */
}
@media only screen and (max-width:768px) {
  /* 768 header start */
  .header h1 {
    font-size: 23px;
  }
  /* 768 header end */
  
  /* 768 footer start */
  .col-title {
    font-size: 18px;
  }
  .col-content {
    font-size: 13px;
  }
  /* 768 footer end */
}
@media only screen and (max-width:640px) {
  /* header 640 start */
  .navbar .logo {
    height: 40px;
  }
  .header {
    height: 390px;
  }
  .header h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .header-title, .social-media {
    padding-top: 70px;
  } 
  .social-media {
    margin-right: 10px;
  }
  .social-media a i {
    font-size: 25px;
  }
  .social-media a:nth-child(2) i {
    font-size: 22px;
  }
  .navbar .nav-links .sidebar-logo {
    padding-left: 15px;
  }
  .sidebar-logo i {
    padding-right: 15px;
  }
  /* header 640 end */

  /* footer 640 start */
  .col-content {
    padding-bottom: 20px;
  }
  .col-title {
    font-size: 18px;
  }
  .col-content {
    font-size: 13px;
  }
  .bottom-bar-content {
    width: 90%;
  }
  .bottom-bar-content p {
    font-size: 13px;
  }
  /* footer 640 end */
}
@media only screen and (max-width:540px) {
  /* header 540 start */
  .navbar .logo {
    height: 35px;
  }
  .navbar .search-box {
    height: 30px;
    width: 30px;
  }
  .navbar .search-box i {
    line-height: 30px;
    font-size: 14px;
  }
  .header {
    height: 320px;
  }
  .header h1 {
    font-size: 16px;
    line-height: 25px;
  }
  /* header 540 end */
  .main-content h2 {
    font-size: 22px;
  }
  .main-content p {
    font-size: 14px;
  }
  .main-content-details h5 {
    font-size: 14px;
  }
  .main-content-details p {
    font-size: 14px;
  }
  .main-content p {
    margin-bottom: 30px;
  }
  .main-banner img {
    margin-bottom: 30px;
  }
  /* footer 540 start */
  .col-title {
    font-size: 16px;
  }
  .col-content {
    font-size: 11px;
    padding-bottom: 20px;
  }
  /* footer 540 end */
}
@media only screen and (max-width:480px) {
  /* header 480 start */
  .navbar .logo {
    height: 30px;
  }
  .social-media a {
    width: 40px;
  }
  .header {
    height: 275px;
  }
  .header h1 {
    font-size: 15px;
    line-height: 22px;
  }
  .social-media {
    margin-right: 5px;
  }
  .social-media a i {
    font-size: 20px;
  }
  .social-media a:nth-child(2) i {
    font-size: 18px;
  }
  /* header 480 end */
  .main-content p {
    margin-bottom: 20px;
  }
  .main-banner img {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width:420px) {
  /* header 420 start */
  .header {
    height: 250px;
  }
  .header h1 {
    font-size: 13px;
    line-height: 20px;
  }
  .social-media a i {
    font-size: 18px;
  }
  .social-media a:nth-child(2) i {
    font-size: 17px;
  }
  .header h1 {
    font-size: 12px;
    line-height: 18px;
  }
  .social-media a:nth-child(2) {
    margin-top: 0px;
    margin-bottom: 0px;
  } 
  /* header 420 start */
  .main-content h2 {
    margin-top: 35px;
  }
  .main-content p {
    font-size: 13px;
  }
  .main-content-details h5 {
    font-size: 13px;
  }
  .main-content-details p {
    font-size: 13px;
  }
  /* footer 420 start */
  .col-title {
    font-size: 14px;
  }
  .col-content {
    font-size: 9px;
    padding-bottom: 12px;
  }
  .about-us-col:last-child {
    margin-bottom: 18px;
  }
  .bottom-bar-content p {
    font-size: 11px;
  }
  /* footer 420 end */
}